:root{
    --ocher: #FFC14F;
    --ocher-secondary: #FF9E11;
    --blue: #6bc6ff;
    --blue-primary: #161D6F;
    --neutral-light: #F9F9F9;
    --text-primary: #525252;
    --dark-primary: #16194F;
    --border-colour: #CAB6F1;
}